{% extends "base.html" %}

{% block contenido %}
{% include "breadcrumb.html" %}
<div class="container">
<!-- Nav tabs -->

    <div class="row list-anos">
        <div class="panel-group panel-indicadores" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title titulo-indicador">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <ol class="breadcrumb">
                                    <li>
                                        Indicador
                                    </li>
                                    <li>
                                        Cultivos
                                    </li>

                                </ol>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <span class="ver-indicador" >

                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Ver más indicadores <span class="fa fa-search"></span>
                                    </a>
                                </span>
                            </div>
                        </div>

                    </h4>
                 </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        {% include "menu_indicadores.html" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 titulo-anos">
            <h5>SELECCIONAR AÑO:</h5>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 botones-anos">
            <ul class="nav nav-tabs row" role="detalle">

                 <li class="col-xs-6 col-sm-4 col-md-2 col-lg-2 active" role="presentation">
                    <a class="btn btn-anos" href="#home" aria-controls="home" role="tab" data-toggle="tab">{{anio}}- fam({{filtro1}})</a>
                 </li>

            </ul>

        </div>
    </div>
<!-- Tab panes -->
    <div class="row info-publica">
        <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                <div class="container">
                    <div class="row fila-grafico1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 space">
                        <div class="excel">
                            <a href="#" onclick="exportarXLS('modalidad-anuales'); return false;"><span class="fa fa-download"> Exportar a excel</span></a>
                        </div>
                            <div class="table-responsive" id="modalidad-anuales">
                                <table class="table table-bordered table-hover">
                                <caption>Cultivos anuales</caption>
                                    <tr>
                                        <th>Cultivo</th>
                                        <th>Unidad</th>
                                        <th>Total área sembrada(Ha)</th>
                                        <th>Total de cantidad cosechada</th>
                                        <th>Total consumo familia</th>
                                        <th>Total semilla</th>
                                        <th>Total ventas</th>
                                    </tr>
                                    {% for k,value in dicc_anuales.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.total_area_sembrada|default:0}}</td>
                                            <td>{{value.total_cantidad_cosechada|default:0}}</td>
                                            <td>{{value.total_consumo_familia|default:0}}</td>
                                            <td>{{value.total_consumo_animal|default:0}}</td>
                                            <td>{{value.total_venta|default:0}}</td>
                                        </tr>
                                    {% endfor %}
                                 </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="excel">
                            <a href="#" onclick="exportarXLS('modalidad-huertos'); return false;"><span class="fa fa-download"> Exportar a excel</span></a>
                        </div>
                            <div class="table-responsive" id="modalidad-huertos">
                                <table class="table table-bordered table-hover">
                                <caption>Cultivos de Huertos</caption>
                                    <tr>
                                       <th>Cultivo</th>
                                        <th>Unidad</th>
                                        <th>Total área sembrada(Ha)</th>
                                        <th>Total de cantidad cosechada</th>
                                        <th>Total consumo familia</th>
                                        <th>Total semilla</th>
                                        <th>Total ventas</th>
                                    </tr>
                                    {% for k,value in dicc_huertos.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.total_area_sembrada|default:0}}</td>
                                            <td>{{value.total_cantidad_cosechada|default:0}}</td>
                                            <td>{{value.total_consumo_familia|default:0}}</td>
                                            <td>{{value.total_consumo_animal|default:0}}</td>
                                            <td>{{value.total_venta|default:0}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="excel">
                            <a href="#" onclick="exportarXLS('modalidad-frutas'); return false;"><span class="fa fa-download"> Exportar a excel</span></a>
                        </div>
                            <div class="table-responsive" id="modalidad-frutas">
                                <table class="table table-bordered table-hover">
                                <caption>Cultivos de Frutas</caption>
                                    <tr>
                                       <th>Cultivo</th>
                                        <th>Unidad</th>
                                        <th>Total cantidad cosechada</th>
                                        <th>Total consumo familia</th>
                                        <th>Total consumo animal</th>
                                        <th>Total ventas</th>
                                    </tr>
                                    {% for k,value in dicc_frutas.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{value.unidad}}</td>
                                            <td>{{value.total_cantidad_cosechada|default:0}}</td>
                                            <td>{{value.total_consumo_familia|default:0}}</td>
                                            <td>{{value.total_consumo_animal|default:0}}</td>
                                            <td>{{value.total_venta|default:0}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="excel">
                            <a href="#" onclick="exportarXLS('modalidad-ganaderia'); return false;"><span class="fa fa-download"> Exportar a excel</span></a>
                        </div>
                            <div class="table-responsive" id="modalidad-ganaderia">
                                <table class="table table-bordered table-hover">
                                <caption>Inventario de ganaderia</caption>
                                    <tr>
                                       <th>Animal</th>
                                        <th>Total cantidad hace un año</th>
                                        <th>Total cantidad actual</th>
                                        <th>Total consumo último 12 meses</th>
                                        <th>Total comercialización último 12 meses</th>
                                    </tr>
                                    {% for k,value in dicc_ganaderia.items %}
                                        <tr>
                                            <td>{{k}}</td>
                                            <td>{{value.total_cantidad_cosechada|default:0}}</td>
                                            <td>{{value.total_consumo_familia|default:0}}</td>
                                            <td>{{value.total_consumo_animal|default:0}}</td>
                                            <td>{{value.total_venta|default:0}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                </div> <!-- role tabpanel -->
        </div>
    </div>
</div>
<br><br>
{% endblock contenido %}
